.site-home {
    margin: 0 auto;
}
.site-home .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2.0736em;
    position: relative;
}
.site-home .about .bio {
    max-width: 585px;
    padding-top: 1em;
}
.site-home .about p {
    padding: 0 5.805em 1em 0;
}
.site-home .about p a {
    border-bottom: 1px solid;
}
.site-home .about .shapes .shapes--left {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    width: 30%}
.site-home .about .shapes .shapes--right {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    position: absolute;
    right: 0;
    top: 25%;
    width: 20%
}
.contact {
    padding-top: 1.728em;
    position: relative;
}
.contact .social-links {
    position: absolute;
    left: 0;
    margin-left: 25%;
}
.contact a {
    border-bottom: 0;
    color: #342D33;
    font-size: 1.728em;
    margin-right: 1.2em;
    padding-bottom: 0;
}
.contact a i {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}
.contact a:hover i {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

#lang {
	cursor: hand;
	color: lightgray;
	position: absolute;
	right: 0;
	bottom: 10%;
}

@media screen and (max-width:530px) {
    .site-home .about {
		margin-bottom: 1.728em;
	}
	.site-home .about .bio {
		max-width: none;
		padding: 1.728em;
	}
	.site-home .about p {
		padding: 0;
	}
	.site-home .about .shapes {
		display: inherit;
		position: absolute;
		top: 0;
		margin-top: -5em;
	}
	.contact {
		margin-left: 1.728em;
	}
    body {
		margin-top: 0;
	}
	h1 {
		font-size: 1.728em;
	}
	h2 {
		font-size: 1.44em;
	}
	.contact .social-links {
		margin-left: inherit;
	}
	.site-home .about .shapes .shapes--right {
		right: 10%;
		top: 15%;
	}
	.site-home .about .shapes .shapes--left {
		left: 10%;
		position: relative;
	}
	#lang {
		right: 30%;
		bottom: 0;
	}
}
html {
    background-size: 100%;
    font-size: 15px;
}
body {
    color: #342D33;
    font-family: "Courier New";
    font-weight: 400;
    letter-spacing: .03em;
    line-height: 1.5;
    margin: 0;
    margin-top: 75px;
    text-rendering: optimizeLegibility;
}
.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 1.2em;
}
a {
    color: #83558a;
    text-decoration: none;
}
a:hover {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
p {
    line-height: 1.728em;
}
h1, h2, h3, h4 {
    font-weight: inherit;
    line-height: 1.5;
}
h1 {
    margin-top: 0;
    font-family: "Inter var", sans-serif;
    font-size: 2.074em;
    font-weight: 700;
}
h2 {
    font-size: 1.728em;
}
h3 {
    font-size: 1.44em;
}
h4 {
    font-size: 1.2em;
}
small {
    font-size: .833em;
}
*:focus {
    outline: none;
}

.shapes img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .9s ease-in-out;
          transition:         transform .9s ease-in-out;
}
.shapes img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#gravatar-image {
  border-radius: 50%;
}

.bio h1 {
    font-family: "Courier New";
}

.bio h1 span {
	display:table-cell;
	vertical-align:middle;
	padding-left:1em;
}
.bio h1 span:first-child {
	padding-left: inherit;
}